*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body{
    background: #eee
}

.tm-form{
    float: right
}

input[type="text"] {
    margin: 20px 60px;
    padding: 10px 80px;
    border-radius: 20px;    
}

.tm-container{
    max-width: 1400px;
    margin: 0 auto;
    /* border: 1px solid;*/
    
}

.tm-header::after{
    content: "";
    clear: both;
    display: block;
    visibility:hidden;
    
}

.tm-header{
    background:#eee
}

.tm-logo{
    float: left;
    margin-top: 10px;
    margin-bottom: 10px
}

.tm-nav{
    background: #a9adad;
}

.tm-nav ul li{
    display: inline-block
}

.tm-nav ul li a{
    padding: 10px 14px;
    text-decoration: none;
    color: #303030;
    line-height: 60px
}

.tm-nav ul li a:hover{
   color: blue;
    
}

.tm-art{
   padding-top: 60px;
    font-size: 36px;
    margin-left: 20PX;
}

.tm-art-1{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 28px;
    background:#a9adad 
}

.tm-art-1 p{
    font-size: 15px;
}

.tm-sec, .tm-tit{
    padding-bottom: 20px;
    margin-left: 20px;
}

.tm-pic{
    float:left;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.tm-sec-1, .tm-tit-1{
    /* clear: both; */
    margin-top: 20px;
    margin-left: 20px;
}

.tm-pic-1{
    float: right;
     margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.tm-tit-2{
    margin-left: 20px;
}

.tm-spc{
    background: #eee;
    padding: 30px;
}

.tm-spc-1{
    background: #eee;
    padding: 60px;
}

footer{
    padding: 30px;
    background: #a9adad
}

ul{
    padding-left: 30px;
}

.tm-tac-1{
    list-style-image: url(contact-2.png);
    padding-top: 10px;
    padding-bottom: 10px;
}

.tm-tac-2{
    list-style-image: url(contact-1.png)
}

.tm-fot{
    float: right;
    margin: 10px;
}